/* Overall style */
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tiro Gurmukhi', serif;
  font-size: 20px;
}

.main-content{
  background-color: rgb(238, 209, 187);
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* Picture on the left */
.cover-picture{
  flex: 1;
  background-image: url('./cover-picture.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  
}

/* Text on top of the picture */
.cover-picture-text-container{  
  background-color: rgba(176, 172, 165, 0.4);
  position: relative;
  top: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  img {
  width: 10vw;
  height: auto;
  margin-left: 5vw;
}


div.credit{
  position: absolute;
  bottom: 0;
  right: 50vw;
  background-color: #a4a4a4;
  opacity: 0.5;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

div.credit > *{
  display: block;
  padding-right: 5px;
}

/* Right hand side content */
.form{
  flex: 1;
}

.greeting{
  height: 35vh;
  display: flex;
  align-items: flex-end;
  padding: 0 5px 5px 20px;
  line-height: 2rem;
}

p{
  margin: 0 10px;
}

p > span{
  font-weight: 900;
  font-style: italic;

}

.input-area{
  background-color: #eee;
  height: 30vh;
  padding: 5px;
  box-shadow: 0 5px 10px #a4a4a4;
}

.submit{
  height: 35vh;
}

/* form styling */
fieldset{
  border: 0;
}

label{
  font-size: 0.7rem;
}

ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li{
  width: 20vw;
  height: 10vh;
}

input, label{
  display: block;
  white-space:nowrap;
}

input{
  border: 2px solid rgb(194, 189, 186);
  border-radius: 5px;
  padding: 3px;
}

input + span{
  position: relative;
}

/* Input will have their frame turn red and alert message appear if user did not input any values. */
input:invalid{
  border: 2px solid red;
}
input:invalid + span::after{
  color: rgba(133, 51, 51, 0.841);
  position: absolute;
  font-size: 0.5rem;
  content: 'This is a required field.';
  white-space:nowrap;
}

input:valid + span::before{
  color: green;
  position: absolute;
  font-size: 0.7rem;
  content: '✓';
  left: 230px;
  top: -25px
}

/* form elements for joining a tour */
ul.join-tour{
  display: flex;
  flex-direction: column;
}

ul.join-tour li{
  height: 5vh;
  width: 25vw;
  margin-left: 30px; 
  
}

ul.join-tour > li:last-child > *{
  display: block;
}
ul.join-tour li label, ul.join-tour li input{
  display: inline-block;
}

input[type='checkbox']{
  margin-top: 5px;
  margin-left: 10px;
}

input[type='date']:invalid + span::after{
  color: rgba(133, 51, 51, 0.841);
  position: absolute;
  font-size: 0.5rem;
  content: 'Please select a date.';
  white-space:nowrap;
}

label[for='tour-checkbox']{
  font-size: 0.9rem;
}

label[for="tour-date"]{
  font-size: 0.65rem;
}

input[type='date']:disabled{
  background: #eee;
  border: 1px solid #ccc;
}

.label_disabled{
  color: #aaa;
}

/* Buttons layout */
fieldset.buttons{
  position: relative;
  top: -60px;
}

ul.buttons{
  flex-direction: column;
  align-items: flex-end;
}

ul.buttons li{
  height: 5vh;
  width: fit-content;
}

button{
  font-size: 0.8rem;
  background-color: #EEBBBE;
  box-shadow: 0 5px 5px rgb(148, 144, 142);
  border: none;
  width: 15vw;
  padding: 3px;
  border-radius: 0.3rem;
  transition: box-shadow 0.5s; /*The box shadow will disappear if it is being pressed
                              , the duration is 0.5s. This effect is to enhance button feedback*/
}

button:hover{
  cursor: pointer;
  color: white;
}

button:active{
  box-shadow: none;
}

/* footer */
footer{
  position: absolute;
  bottom: 150px;
  right: 12px;
}

footer p{
  text-align: center;
  font-size: 0.6rem;
}

a{
  font-size: 0.6rem;
}